{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Mon profil{% endblock %}

{% block body %}

    <main class="container">
        <h1>Mon profil</h1>
        <div class="grid">
            <img src="https://fastly.picsum.photos/id/619/200/300.jpg" alt="img">
            <div>
                <div class="grid">
                    <p>Pseudo</p>
                    <input type="text">
                </div>
                <div class="grid">
                    <p>Prénom</p>
                    <input type="text">
                </div>
                <div class="grid">
                    <p>Nom</p>
                    <input type="text">
                </div>
                <div class="grid">
                    <p>Téléphone</p>
                    <input type="text">
                </div>
                <div class="grid">
                    <p>E-Mail</p>
                    <input type="email">
                </div>
                <div class="grid">
                    <p>Mot de passe</p>
                    <input type="password">
                </div>
                <div class="grid">
                    <p>Confirmation</p>
                    <input type="password">
                </div>
                <div class="grid">
                    <p>Ville de rattachement</p>
                    <select name="ville" id="ville">
                        <option value="Rennes">Rennes</option>
                        <option value="Nantes">Nantes</option>
                        <option value="Quimper">Quimper</option>
                    </select>
                </div>
                <div class="grid">
                    <p>Ma photo</p>
                    <p>B</p>
                </div>
            </div>
        </div>
        <div class="grid">
            <button>Enregistrer</button>
            <button>Annuler</button>
        </div>
    </main>

{% endblock %}
