{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="content-container" id="maincontent">
    <h1>Create new Event</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a class="btn" href="{{ path('app_main') }}">back to home</a>
    </main>
{% endblock %}
