{% 
    set links = [
        {"link":"/", "label":"Villes"}, 
        {"link":"/", "label":"Sites"}, 
        {"link":url("app_main"), "label":"Accueil"}, 
        {"link":"/", "label":"Mon profil"},
        {"link":"/", "label":"Se déconnecter"}
    ] 
%}

<header class="container">
    <nav aria-labelledby="sections-heading">
        <h1><a href="">Sortir.com</a></h1>
        <ul>
        {% for link in links %}
            <li><a href="{{link.link}}">{{link.label}}</a></li>
        {% endfor %}
        </ul>
    </nav>
</header>