{% set menu = [
        {"route":"app_main", "label":"Accueil"}, 
    ]
%}
{%
    set disconnectedlinks = [
        {"route":"app_login", "label":"Se connecter"},
        {"route":"app_register", "label":"S'enregistrer"},
    ]
%}
{%
    set connectedLinks = [
        {"route":"app_profile", "label":"Mon profil"},
        {"route":"app_logout", "label":"Se déconnecter"},
    ]
%}
    {% set adminLinks = [
        {"route":"app_user_index", "label":"Liste des utilisateurs"},
        {"route":"app_city_index", "label":"Liste des villes"}
    ]
%}

{% set menu = is_granted("ROLE_ADMIN") ? menu|merge(adminLinks) : menu %}

{% set menu = app.user ? menu|merge(connectedLinks) : menu|merge(disconnectedlinks) %}

<header class="site-header">
    <div class="content-container">
        <a href="{{url('app_main')}}" class="logo" aria-label="Homepage">
            ENI-Sortir
        </a>

        <nav class="site-nav" aria-label="Main">        
            <ul role="list" id="site-nav-list" class="site-nav__list">
                {% for item in menu %}
                    <li><a href="{{url(item.route)}}" {% if app.request.attributes.get( '_route' ) starts with item.route %} aria-current="page"{% endif %}>{{item.label}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>