{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
{% include "partials/_flash.html.twig" %}
<main class="container">
    <form action="">
        <h2>Filtrer les sorties</h2>
        <div class="grid">
            <div>
                <label for="">Site : </label>
                <select name="" id="">
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <label for="">Le nom de la sortie contient : </label>
                <input type="search" name="" id="">
                <span>Entre <input type="date" name="" id=""> et <input type="date" name="" id=""></span>
            </div>
            <fieldset>
                <label for=""><input type="checkbox" name="" id=""> Sorties dont je suis l'organisateur/trice</label>
                <label for=""><input type="checkbox" name="" id=""> Sorties auxquelles je suis inscrit/e</label>
                <label for=""><input type="checkbox" name="" id=""> Sorties auxquelles je ne suis pas inscrit/e</label>
                <label for=""><input type="checkbox" name="" id=""> Sorties passées</label>
            </fieldset>
            <button type="submit">Rechercher</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {# <tbody>
            {% for event in event_list %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody> #}
    </table>
    <a href="" role="button">Créer une sortie</a>
</main>
<footer>

</footer>
{% endblock %}
