{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville - ENI-Sortir{% endblock %}

{% block body %}
<main class="content-container">
    <h1>Ajouter une ville</h1>
    
    {{ include('city/_form.html.twig') }}
    
    <a href="{{ path('app_city_index') }}">back to list</a>
</main>
{% endblock %}
