{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compte supprimé</h1>

    <p>
       Votre compte a été supprimé par l'administateur<a href="{{ path('app_main') }}">retourner sur le site</a>.
    </p>
{% endblock %}